* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

#campo {
    width: 50vw;
    height: 50vw;
    margin: auto;
}

.quadrato {
    float: left;
    width: calc(50vw / 10);
    height: calc(50vw / 10);
    border: 1px solid black;
}

.cella {
    height: 100%;
}

.red {
    background-color: rgb(243, 67, 67);
}

.green {
    background-color: lightgreen;
}